// Variables

@primary: #fff;
@transparent-btn: rgba(255,255,255,0.4);

@dark: #000;
@light: #fff;
@pearl: #f9f8f6;

@menu-link: #5ca676;

@background-menus:rgba(255, 255, 255, 0.9);
@background-def: #5F854E;

@light-green: #8ab951;
@dark-green: rgb(8, 148, 68);

@round: 6px;
@round-inner: 4px;

@font-family-body: 'Roboto',Arial,sans-serif;
@font-family-menus: 'Roboto',Arial,sans-serif;
// @font-family-content: 'Bad Script', cursive;
// @font-family-content: 'Open Sans Condensed', sans-serif;
@font-family-content: 'Poiret One', cursive;

// @main-background-img: url('../img/main-bg.png')
@facebook-blue: #3b5998;
@twitter-blue: #55acee;
@linkedin-blue: #287bbc;

@shadow-gray: #d2d2d2;

@text-shadow: rgba(0,0,0,0.4);
@dark-text: #216B15;
@light-text: #fff;
@dark-green-text: #5EA10C;

@glass: rgba(255, 255, 255, 0.6);
@dark-glass: rgba(0, 0, 0, 0.6);