/* TODO change with less variables */
/* section background */
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.hsContent {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: @light;
    padding: 0 8%;
    text-align: center
}

.section-head {
    -moz-transform: skewX(15deg) skewY(0deg);
    -webkit-transform: skewX(15deg) skewY(0deg);
    -o-transform: skewX(15deg) skewY(0deg);
    -ms-transform: skewX(15deg) skewY(0deg);
    transform: skewX(15deg) skewY(0deg);

    -moz-transform: skewX(0deg) skewY(3.5deg);
    -webkit-transform: skewX(0deg) skewY(3.5deg);
    -o-transform: skewX(0deg) skewY(3.5deg);
    -ms-transform: skewX(0deg) skewY(3.5deg);
    transform: skewX(0deg) skewY(3.5deg);

    background-color: @dark-green;
    color: @light-text;
    height: 40px;
    line-height: 40px;
    font-size: 14pt;
    text-align: center;
}

.odd, .even {
    padding: 50px 0;
}

.odd {
    background-color: @pearl;
    color: @dark-text;
}

.odd a {
    color: @dark-text;
}

.even {
    background-color: @light-green;
    color: @light-text;
}

#landing {
    display: block;
    height:100%;
    width:100%;
    box-sizing:border-box;

    video#bgvid {
        height: 100%;
        background: url(../img/poster.jpg) no-repeat;
    }
}

#about .about-content {
    background: @light-green;
    color: @dark-text;
    padding: 20px;
    -webkit-transform: skew(0deg,3.5deg);
    -moz-transform: skew(0deg,3.5deg);
    -ms-transform: skew(0deg,3.5deg);
    -o-transform: skew(0deg,3.5deg);
    transform: skew(0deg,3.5deg);
    margin-top: 50px;
}

#team {
    height: 400px;
    .bcg {
        background-image: url('../img/doctors.jpg');
        background-size: 20%;
    }
}

#procedures {
    height: 510px;
}

#medical-issues {
    height: 510px;
}

#pricing {
    height: 710px;
    font-weight: 700;
}

#contacts {
    height: 510px;
    text-align: center;
    iframe {
        border: 4px solid @light;
    }
}

.contact-section {
    display: table;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    table {
        td {
            padding: 5px 10px;
            font-size: 16pt;
            text-align: left;
            i {
                text-align: right;
            }
        }
    }

    h2 {
        margin-bottom: 45px;
    }

    .banner-social-buttons {
        margin-top: 45px;
    }
}

@media(max-width:1199px) {
    .banner-social-buttons {
        margin-top: 45px;
    }
}

@media(min-width:767px) {
    .banner-social-buttons {
        li {
            display: block;
            margin-bottom: 40px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}